header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
background-color: #FDB3BF;
}

.logo img {
width: 100px; /* Ajusta el ancho según el tamaño de tu logo */
}

nav ul {
list-style: none;
padding: 0;
margin: 0;
display: flex;
}

nav ul li {
margin-right: 50px;
margin-left: 50px;

}

nav ul li:last-child {
margin-right: 100;
}
nav ul li:hover,
nav ul li:active {
  background-color:#CC00FF; /* Cambia el color a tu preferencia */
  text-decoration:none;
}
